streamlit
pandas
numpy
scikit-learn
networkx
geopandas
folium
streamlit-folium
matplotlib
opencv-python
scikit-image
plotly
geopy
xgboost
scikit-learn
pillow
python-dotenv
osmnx
torch
torchvision
torch-geometric
