# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# Conda
.conda/

# Node
node_modules/

# Build
dist/
build/

# OS
.DS_Store

# FAISS (optional – comment if you want to include)
faiss_index/
