logs/app.log
logs/video_behavior.log
build/build/
dist/
.venv/
venv/
env/
*.pyc
__pycache__/
data/datasets/enhanced_synthetic/enhanced_synthetic_pose_data.pkl
data/datasets/synthetic/synthetic_pose_data.pkl
models/enhanced/enhanced_theft_xgb_model.pkl
static/
debug_log.txt
models/enhanced/enhanced/enhanced_theft_xgb_model.pkl
models/enhanced/enhanced/plots/confusion_matrix.png
models/enhanced/enhanced/plots/feature_importance.csv
models/enhanced/enhanced/plots/feature_importance.png
models/enhanced/plots/confusion_matrix.png
models/enhanced/plots/feature_importance.csv
models/enhanced/plots/feature_importance.png
models/standard/theft_xgb_model.pkl
models/standard/plots/confusion_matrix.png
models/standard/plots/feature_importance.csv
models/standard/plots/feature_importance.png
detector.log
models/bak/
training/
